{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row justify-content-center">
            <h1 class="text-center">Create Exercise</h1><br>
                <div class="mb-3">
                    <label for="template" class="form-label">เลือก Question</label>
                    <select name="template" id="template" class="form-select form-select-lg" aria-label="Select Template" onchange="updateAnswerTemplate()">
                        <option selected>Select</option>
                        {% for template in templates %}
                            <option value="{{ template[0] }}" data-answer="{{ template[2] }}">{{ template[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="answer_template" class="form-label">เฉลย</label>
                    <input type="text" id="answer_template" class="form-control" placeholder="รูปแบบเฉลย" disabled>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
function updateAnswerTemplate() {
{% endblock %}
