<!DOCTYPE html>
<html>
<head>
    <title>Flask-WTF Example</title>
    <style>
        input[type="text"] {
            width: 80%;
            padding: 10px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Welcome to my website</h1>
    <form method="POST" action="{{ url_for('index') }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.quiz.label }}<br>            
            {{ form.quiz(size=50) }}
        </div>
        <div>
            {{ form.answer.label }}<br> 
            {{ form.answer(size=50) }}
        </div>
        <div>
            {{ form.num_questions.label }}<br>
            {{ form.num_questions(size=50) }}
        </div><br> 
        {{ form.submit }}
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const inputField = document.querySelector('input[name="quiz"]');

            inputField.addEventListener('input', () => {
                const value = inputField.value;
                const openTagPattern = /<(\w+)>/g;
                let match;

               
            });
        });
    </script>
</body>
</html>
