{% extends 'base_user.html' %}
{% block title %}Create Exercise{% endblock %}
{% block body %}
        <div style="text-align: center; margin-top: 50px;">
            <h1>Welcome.</h1>
            <p>สวัสดี, {{ session.username }}. </p>
            <p>ขณะนี้ยังไม่มีงานที่ได้มอบหมาย </p>

        </div>
    
        <div style="display: flex; justify-content: center; flex-wrap: wrap; gap: 50px; margin-top: 50px;">
            <div>
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/6.png') }}" alt="สร้าง Template" style="width: 150px; height: 150px; border-radius: 20px;">
                </a>
                
                <p style="text-align: center; margin-top: 10px;">งานที่ได้รับ</p>
            </div>
            <div>
                <a href="{{ url_for('view_templates') }}">
                    <img src="{{ url_for('static', filename='img/7.png') }}" alt="ดูชุดข้อสอบ" style="width: 150px; height: 150px; border-radius: 20px;">
                </a>
                <p style="text-align: center; margin-top: 10px;">ดูชุดข้อสอบ</p>
            </div>
 

{% endblock %}